<div class="top-buffer-50">
  <div class="row col-sm-8 col-sm-offset-2 round-panel">
    <div class="col-sm-10 col-sm-offset-1 top-buffer-10 bottom-buffer-20">
      <div class="font-big">
        Potrzebujesz profesjonalnego wsparcia w legalizacji pracy cudzoziemca?
      </div>
      <div class="font-small top-buffer-5">
        Tu dowiesz się, jak zalegalizować swój pobyt, uzyskać zezwolenie na pracę, zaprosić cudzoziemca do naszego kraju, zostać obywatelem Polski.
      </div>
      <div class="font-big top-buffer-25">
        Dane kontaktowe:
      </div>
      <div class="font-small top-buffer-5">
        Emilia Jaroszewska <a href="mailto:emiliajaroszewska@imisti.pl">emiliajaroszewska@imisti.pl</a>
      </div>
      <div class="font-small top-buffer-25">
        Zachęcamy również do bezpośredniego kontaktu z naszym działem za pomocą poniższego formularza:
      </div>
      <div ng-form="contactForm" ng-hide="isEmailSend" class="font-small top-buffer-10 col-sm-6 col-sm-offset-3 text-right">
        <input name="name" type="text" autocomplete="off" class="round-input" placeholder="Imię" ng-model="emailData.name" required/>
        <span ng-show="contactForm.name.$touched && contactForm.name.$error.required">Pole jest wymagane.</span>
        <input name="email" type="email" autocomplete="off" class="round-input" placeholder="Twój email" ng-model="emailData.email" required/>
        <span ng-show="contactForm.email.$touched && contactForm.email.$error.required">Pole jest wymagane.</span>
        <span ng-show="contactForm.email.$touched && contactForm.email.$error.email">Podany adres email jest niepoprawny.</span>
        <input name="subject" type="text" autocomplete="off" class="round-input" placeholder="Temat" ng-model="emailData.subject" required/>
        <span ng-show="contactForm.subject.$touched && contactForm.subject.$error.required">Pole jest wymagane.</span>
        <textarea name="text" class="round-input bottom-buffer-10" style="height: 200px;" placeholder="Treść wiadomości" ng-model="emailData.text" required></textarea>
        <div class="bottom-buffer-10" ng-show="contactForm.text.$touched && contactForm.text.$error.required">Pole jest wymagane.</div>
        <button ng-disabled="contactForm.$invalid" class="send-button top-buffer-10" ng-click="sendEmail()">Wyślij</button>
      </div>
      <div ng-show="isEmailSend" class="col-sm-8 col-sm-offset-2 font-big text-center top-buffer-25">
        Dziękujemy za wiadomość! Wkrótce się skontaktujemy.
      </div>
    </div>
  </div>
</div>
