<div class="row top-buffer-50 col-sm-12">
  <span class="logo-misti-big"></span>
</div>
<div class="row top-buffer-25">
  <div class="col-sm-12 text-center">
    <h3 class="dark-blue-color">{{'main-page.header' | translate}}</h3>
  </div>
</div>
<div class="row top-buffer-75">
  <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="round-panel row">
      <div class="col-sm-4 poland">
      </div>
      <div class="col-sm-8">
        <h5 class="quoted-text">{{'main-page.quotation' | translate}}</h5>
      </div>
    </div>
  </div>
</div>
<div class="row top-buffer-50 text-center">
  <div class="col-sm-8 col-sm-offset-2 companyValues">
    <div class="companyValue-1"><span>{{'main-page.value1' | translate}}</span></div>/
    <div class="companyValue-2"><span>{{'main-page.value2' | translate}}</span></div>/
    <div class="companyValue-3"><span>{{'main-page.value3' | translate}}</span></div>
  </div>
</div>
<div class="row top-buffer-50"></div>
