<div class="top-buffer-25">
  <div class="row col-sm-8 col-sm-offset-2 round-panel">
    <div class="row col-sm-10 col-sm-offset-1 top-buffer-10">
      <div class="font-small">
        MISTI to efektywna agencja consultingowa skupiająca zespół profesjonalistów działających z pasją i pełnym zaangażowaniem w każdy projekt. Naszym głównym celem jest sukces naszych klientów. Pragniemy poprzez odpowiednie wykorzystanie naszego doświadczenia
        oraz nabytej wiedzy naszych pracowników zapewnić klientom profesjonalną obsługę.
      </div>
    </div>
    <div class="row col-sm-10 col-sm-offset-1 top-buffer-20 offert-container">
      <div class="col-sm-5 col-offer round-panel border">
        <div class="text-center top-buffer-10 font-medium">
          Kwestie imigracyjne
        </div>
        <div class="text-center top-buffer-10">
          <image src="./styles/images/imigration_issues.png"></image>
        </div>
        <ul class="text-left top-buffer-10 offer-list font-small">
          <li>Pomoc w uzyskaniu wizy lub zaproszenia</li>
          <li>Przedłużenie każdego rodzaju wizy na terenie Rzeczpospolitej Polskiej</li>
          <li>Uzyskanie zezwolenia na wykonywanie pracy na terytorium Rzeczpospolitej Polskiej</li>
          <li>Oświadczenia o zamiarze powierzenia wykonywania pracy</li>
          <li>Zezwolenia na pobyt i pracę</li>
          <li>Zezwolenia na pracę dla cudzoziemców</li>
          <li>Odwołania od negatywnych decyzji oraz skargi</li>
          <li>Przygotowanie dokumentów niezbędnych do podjęcia pracy</li>
          <li>Zaznajomienie pracowników z polskimi realiami</li>
        </ul>
        <div class="top-buffer-5 bottom-buffer-10 text-center">
          <button class="readMore-button" ui-sref="contact">Skontaktuj się</button>
        </div>
      </div>
      <div class="col-sm-5 col-offer round-panel border">
        <div class="text-center top-buffer-5 font-medium">
          Sprawy wewnątrzpaństowe
        </div>
        <div class="text-center top-buffer-10">
          <image src="./styles/images/inner_issues.png"></image>
        </div>
        <ul class="text-left top-buffer-10 offer-list font-small">
          <li>Uzyskanie opinii z powiatowego urzędu pracy</li>
          <li>Uzyskanie zaświadczenia o niekaralności z Krajowego Rejestru Karnego</li>
          <li>Projektowanie stron internetowych</li>
          <li>Przygotowywanie materiałów reklamowych </li>
          <li>Pomoc w zakładaniu działalności gospodarczej lub spółek na terytorium Rzeczpospolitej Polskiej</li>
          <li>Wnioski o niezaleganiu od ZUS</li>
          <li>Wyszukiwanie mieszkań, domów i szkół</li>
          <li>Tłumaczenia</li>
        </ul>
        <div class="top-buffer-5 bottom-buffer-10 text-center">
          <button class="readMore-button" ui-sref="contact">Skontaktuj się</button>
        </div>
      </div>
    </div>
    <div class="row col-sm-10 col-sm-offset-1 top-buffer-20 bottom-buffer-10 font-small">
      Nasi współpracownicy pomagają w wypełnieniu wniosków wizowych, zebraniu potrzebnych dokumentów i utrzymywaniu stałego kontaktu z pracownikami. Współpracują także w naszym imieniu z miejscowymi urzędami, na bieżąco monitorując proces uzyskiwania niezbędnych
      dokumentów. W przypadku nieznajomości języka polskiego zapewniamy pomoc tłumacza w języku angielskim, ukraińskim, lub rosyjskim.
    </div>
  </div>
</div>
