$color-emisti-cta: #ffb749;
$color-emisti-dark-blue: #1f2837;
$color-emisti-middle-blue: #303e55;
$color-emisti-light-blue: #477ace;
$color-emisti-white: #fcf8f4;
$color-emisti-transparent: rgba(0, 0, 0, 0.6);
$color-emisti-transparent-more: rgba(0, 0, 0, 0.8);

.font-big {
  font-size: 1.15em;
}

.font-medium {
  font-size: 0.9em;
}

.font-small {
  font-size: 0.75em;
}

a[href] {
  color: #bec3ff;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.top-buffer-5 {
  margin-top: 5px;
}

.top-buffer-10 {
  margin-top: 10px;
}

.bottom-buffer-10 {
  margin-bottom: 10px;
}

.bottom-buffer-20 {
  margin-bottom: 20px;
}

.top-buffer-20 {
  margin-top: 20px;
}

.top-buffer-30 {
  margin-top: 20px;
}

.top-buffer-25 {
  margin-top: 25px;
}

.top-buffer-50 {
  margin-top: 50px;
}

.top-buffer-75 {
  margin-top: 75px;
}

.top-buffer-120 {
  margin-top: 120px;
}

.navigation-small {
  &.ng-hide {
    margin-top: -100%;
  }

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: margin-top ease-in-out 0.4s;
  }

  .locale-list > li {
    margin: 0 15px;
  }
}

.navigation-outside-wrapper {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  margin-left: -8px;
}

.opacity-anim {
  opacity: 1;
}

.opacity-anim.ng-hide {
  opacity: 0;
}

.opacity-anim.ng-hide-add,
.opacity-anim.ng-hide-remove {
  transition: opacity linear 0.5s;
}

.capitalize::first-letter {
  text-transform: capitalize;
}

.loadingSpinner {
  position: absolute;
  left: 0;
  right: 0;
  width: 90px;
  margin: 150px auto auto;
}

.round-panel {
  border-radius: 25px;
  background-color: $color-emisti-transparent;
  padding: 10px;
}

.dark-blue-color {
  color: $color-emisti-middle-blue;
}

.locale-list {
  display: inline-block;
  padding-top: 8px;
  margin: 6px 0;
  padding-left: 14px;
}

.locale-list > li {
  margin: 0 3px;
  width: 27px;
  display: inline-block;
  height: 17px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.locale-list > li[value="en_US"] {
  background-image: url("/assets/images/locale_en.png");
}

.locale-list > li[value="pl_PL"] {
  background-image: url("/assets/images/locale_pl.png");
}

.locale-list > li[value="ru_RU"] {
  background-image: url("/assets/images/locale_ru.png");
}

.locale-list > li.active {
  outline: 2px solid $color-emisti-cta;
}

.quoted-text {
  margin: 10px 20px;
}

.quoted-text:before {
  content: "";
  background-image: url("/assets/images/quote.png");
  width: 17px;
  height: 13px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: -25px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.round-panel.border {
  border: 2px solid $color-emisti-cta;
}

.quoted-text:after {
  content: "";
  background-image: url("/assets/images/quote.png");
  position: absolute;
  width: 17px;
  height: 13px;
  background-repeat: no-repeat;
  margin-left: 8px;
  margin-top: 9px;
  transform: scaleX(-1) scaleY(-1);
}
@import "mini-default";

.round-input {
  background-color: $color-emisti-transparent;
  border-radius: 10px;
}

.round-input {
  outline: none;
  box-shadow: none;
  border: none;
  width: 100%;
}

.logo-misti-small {
  float: left;
  background-image: url("/assets/images/logo_small.png");
  background-repeat: no-repeat;
  width: 134px;
  height: 35px;
  margin-top: 4px;
  opacity: 0;
  margin-left: -157px;
}

.logo-misti-small.active-add,
.logo-misti-small.active-remove {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.logo-misti-small.active,
.logo-misti-small.actives-add.active-add-active {
  opacity: 1;
  margin-left: 11px;
}

.logo-misti-small.active-remove.active-remove-active {
  opacity: 0;
  margin-left: -157px;
}

.logo-misti-big {
  background-image: url("/assets/images/logo_big.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 166px;
  width: 100%;
  margin: auto;
}

.poland {
  background-image: url("/assets/images/poland.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 118px;
  width: 100%;
  background-size: contain;
}

[class^="companyValue-"] {
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 43px;
  margin: auto;
  display: inline-block;
  padding: 10px;
}

.companyValue-1 {
  background-image: url("/assets/images/company_value1.png");
}

.companyValue-2 {
  background-image: url("/assets/images/company_value2.png");
}

.companyValue-3 {
  background-image: url("/assets/images/company_value3.png");
}

.companyValues {
  color: $color-emisti-middle-blue;
  font-size: $h1-font-size;
  text-transform: uppercase;
}

.companyValues > * {
  vertical-align: middle;
}

[class^="companyValue-"] > span {
  font-size: x-small;
  display: inline-block;
  margin-top: 53px;
  margin-left: -23px;
  width: 90px;
}

.navigation-offset {
  top: 37px;
}

.navigation-small {
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: -1;
  text-align: center;
  margin-left: -8px;
  width: 100%;
  height: 200px;
  background-color: $color-emisti-transparent-more;

  > a[role=button] {
    display: table;
    background: none;
    margin: 5px auto auto;
  }

  > .locale-list {
    padding-left: 0;
    padding-top: 20px;
  }
}

footer.fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
}

a[role="button"].active,
header a[role="button"]:hover {
  border-bottom: 2px solid $color-emisti-cta;
  border-radius: 0;
  transition-duration: 0s;
}

body {
  background-image: url("/assets/images/background.jpg");
  background-color: #afbbcc;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 78px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ui-view-container {
  position: relative;
  overflow-y: overlay;
  overflow-x: hidden;
  z-index: -3;
  height: 100%;
}

[ui-view].ng-enter {
  position: relative;
}

[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

[ui-view].ng-enter,
[ui-view].ng-leave {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
}
//-------------------------------news

.news-panel {
  min-height: 130px;
  margin-bottom: 20px;
}

.news-image {
  width: 200px;
  height: 130px;
  object-fit: cover;
}

.news-date {
  width: 40px;
  height: 40px;
  text-align: center;
  color: $color-emisti-dark-blue;
  background-color: $color-emisti-white;
  margin-left: -3px;
  margin-top: -3px;
  margin-right: 6px;
  border-radius: 100px;
}

.news-date > div {
  line-height: 14px;
  font-size: 15pt;
}

.news-date > div:first-child {
  font-size: 9pt;
  text-transform: uppercase;
  padding-top: 5px;
}

.news-title {
  font-size: 0.9em;
  line-height: 16px;
  margin-bottom: 8px;
}

.news-text {
  font-size: 0.75em;
  line-height: 15px;
  margin-top: 5px;
  overflow: hidden;
  max-height: 500px;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}

.news-text.collapsed {
  max-height: 72px;
}

.news-text.collapsed-add,
.news-text.collapsed-remove {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s;
}

.news-text > span {
  white-space: pre-line;
}

.listItem.ng-enter.ng-enter-active {
  opacity: 1;
}

.listItem.ng-enter {
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}

.listItem.ng-enter-stagger {
  /* This is the delay between each animation of the staggered animation sequence */
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  /* This should be set to 0s to avoid problems, this element could inherit the value from the repeatItemTransition element */
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.readMore-button {
  transition: none;
  background-color: $color-emisti-cta;
  color: $color-emisti-dark-blue;
  box-shadow: none;
  font-size: 0.7em;
  padding: 3px 8px;
  margin-left: 0;
  border-radius: 0;
}

.send-button {
  transition: none;
  background-color: $color-emisti-cta;
  color: $color-emisti-dark-blue;
  box-shadow: none;
  font-size: 0.9em;
  padding: 4px 21px;
  margin-left: 0;
  border-radius: 0;
  margin: 0;
}

.menu-button {
  width: 31px;
  height: 22px;
  background: url("/assets/images/button_menu.png") no-repeat center !important;
  outline: none;
  padding: 20px;
}

.menu-button.active:after {
  content: "";
  background-color: rgba(78, 52, 18, 0.62);
  width: 31px;
  height: 22px;
  display: block;
  margin-left: -15px;
  margin-top: -11px;
}

.loadMore-button {
  transition: none;
  background-color: $color-emisti-light-blue;
  color: $color-emisti-white;
  box-shadow: none;
  padding: 5px 11px;
  font-size: 0.9em;
  margin: auto;
  border-radius: 0;
  margin-top: 20px;
}
//-------------------------------offert

.offer-list {
  margin-left: 0;
  min-height: 280px;
}

.offer-list > li {
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .col-offer {
    margin: auto;
    flex-basis: 47%;
    max-width: 47%;
    min-height: 444px;
  }
}
//-------------------------------selectLanguage

.container-selectLanguage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  right: 0;
  margin: auto;
  background-color: rgba(21, 28, 41, 0.6);
}

.selectLanguage {
  position: absolute;
  top: 35%;
  left: 10px;
  right: 10px;
  padding: 25px 0 35px;
  margin: auto;
  background-color: #273656;

  > ul {
    padding: 0;
    width: 235px;
    margin: auto;
  }
}

.locale-list-big {
  > li:first-child {
    margin-left: 0;
  }

  > li:last-child {
    margin-right: 0;
  }

  > li {
    margin: 0 10px;
    width: 65px;
    display: inline-block;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  > li[value="en_US"] {
    background-image: url("/assets/images/locale_en_big.png");
  }

  > li[value="pl_PL"] {
    background-image: url("/assets/images/locale_pl_big.png");
  }

  > li[value="ru_RU"] {
    background-image: url("/assets/images/locale_ru_big.png");
  }
}

.selectLanguage-text {
  margin-bottom: 20px;
  text-align: center;
}
